<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--是否记录数据库日志(0:不记录 1:记录)-->
    <add name="SqlLog" connectionString="1"/>
    <!--数据库地址配置-->
    <add name="DbContext" connectionString="server=localhost;database=mydb;user id=root;password=123456;" providerName="MySql.Data.MySqlClient" />
   </connectionStrings>
</configuration>