<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0"/>
  <supportedRuntime version="v2.0.50727"/>
</startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61070/Ws.asmx" binding="basicHttpBinding"
                bindingConfiguration="WsSoap" contract="ServiceReference1.WsSoap"
                name="WsSoap" />
        </client>
    </system.serviceModel>
</configuration>