<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQueueService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--服务器地址-->
      <endpoint address="http://localhost:56239/QueueService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueueService" contract="QueueService.IQueueService" name="BasicHttpBinding_IQueueService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <!--作业调度表达式(内容中的3 代表每天凌晨3点执行)-->
    <add key="cron_schedule" value="0 0 3 * * ?" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>