<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v3.5"/>
    <supportedRuntime version="v4.0"/>
  </startup>
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=D:\mydb.db;" providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>
