<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="HttpService.Service">
        <endpoint contract="HttpService.IService" binding="webHttpBinding" behaviorConfiguration="webHttpBehaviorConfig" bindingConfiguration="webHttpBindingConfig" />
        <host>
          <baseAddresses>
            <!--服务器地址(一般只修改IP和端口号  80端口可以省略)-->
            <add baseAddress="http://127.0.0.1:8888/HttpService/Service.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehaviorConfig">
          <webHttp defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingConfig" crossDomainScriptAccessEnabled="true" allowCookies="true" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>