<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <connectionStrings configSource="DB.config"/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Test.Service.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Test.Service.Service1">
        <endpoint address="" behaviorConfiguration="Test.Service.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="Test.Service.Service1" />
      </service>
    </services>
  </system.serviceModel>
</configuration>