<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WsSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="WsSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61070/Ws.asmx" binding="basicHttpBinding"
        bindingConfiguration="WsSoap" contract="ServiceReference1.WsSoap"
        name="WsSoap" />
      <endpoint address="http://localhost:61070/Ws.asmx" binding="basicHttpBinding"
        bindingConfiguration="WsSoap1" contract="WsServiceReference.WsSoap"
        name="WsSoap1" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
