<connectionStrings>
  <add name="SqlLog" connectionString="1"/>
  <add name="DbContext" connectionString="server=localhost;database=mydb;user id=root;password=123456;" providerName="MySql.Data.MySqlClient" />
  <add name="SqliteConnection" connectionString="Data Source=D:\mydb.db;Version=3;" providerName="System.Data.SQLite"/>
  <add name="MySqlConnection" connectionString="server=localhost;database=mydb;user id=root;password=123456;" providerName="MySql.Data.MySqlClient" />
  <add name="MsSqlConnection" connectionString="Data Source=localhost;Initial Catalog=mydb;User ID=sa;Password=123456;Integrated Security=false;" providerName="System.Data.SqlClient" />
  <add name="OracleConnection" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = orcl)));Persist Security Info=True;User Id=mydb;Password=123456;" providerName="System.Data.OracleClient" />
</connectionStrings>